.discovery {
  background: $module-bg;
  overflow: hidden;
  .banner {
    .banner-item {
      width: 100%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .ball-list {
    padding: $padding;
    display: flex;
    .ball-item {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: $gap;
      .icon {
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        display: inline-block;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        background: $link-bg;
        margin-bottom: $gap-sm;
        .iconfont {
          font-size: $font-size-lg;
          color: #fff;
        }
      }
    }
  }
  .block {
    padding: $padding-lg;
    border-radius: $border-radius-lg;
    margin: $gap 0;
    background: $body-bg;
    .block-header {
      margin-bottom: $gap;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .block-btn {
        border-radius: 11px;
        line-height: 20px;
        border: 1px solid $gary;
        font-size: $font-size-sm;
        padding: 0 $padding-sm;
        .iconfont {
          font-size: $font-size-sm;
        }
      }
    }
  }
}
