.bottom-modal-wraper {
  .mask {
    background: $modal-bg;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: $bottom-panel-index;
  }
  .bottom-modal-content {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: $bottom-panel-index + 1;
    border-radius: $border-radius-lg $border-radius-lg 0 0;
    background: $module-bg;
    color: $text;
  }
}
