#app {
  height: 100vh;
  background-color: $body-bg;
  color: $text;
  box-sizing: border-box;
  overflow-y: auto;
  position: relative;
  &.player-visible {
    padding-bottom: $player-height;
    .page-container {
      bottom: $player-height;
    }
  }
  .page-container {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}
